.page-header {
    margin-top: 80px;
}

.bg-loading {
    padding: 15px;
}

.slide-control {
    cursor: pointer;
}

.navbar-inverse a.navbar-brand {
    color: #ffffff;
}

.emphasize, .emphasize > a {
    color: #f0e000 !important;
    font-weight: bold;
}